#hungr {
  background-color: #F0F2F7;
}

#hungr .col-xs-12 {
  padding: 0;
}

#hungr .container {
  margin-top: 50px;
}

.header {
  height: 50px;
  border-top: 1px solid #ADAFB3;
  float: left;
  width: 100%;
  position: fixed;
  top: 0;
  padding-left: 20px;
}

.right {
  float: right;
}

.left {
  float: left;
}

.margin_r_20 {
  margin-right: 20px;
}

.margin_l_20 {
  margin-left: 20px;
}

.logo img {
  margin-top: 10px;
  width: 50%;
}

.logo .ba-logo {
  height: 27px;
  margin-left: -25px;
}

.logo .ba-heart {
  margin-top: 11px;
}

.recipe-card img {
  width: 100%;
}

.recipe-card {
  border: 1px solid #C8CBCA;
}

.recipe-sub-card {
  padding-top: 20px;
  padding-left: 20px;
  border: 1px solid #C8CBCA;
  border-top: 0;
  float: left;
  padding-bottom: 20px;
  background-color: #fff;
}

.main-text {
  font-family: 'Signika', sans-serif;
  color: #313567;
  font-size: 28px;
  line-height: 1.2;
  font-weight: 600;
}

.sub-text {
  color: #8B8B8B;
  font-size: 14px;
  font-style: italic;
  font-family: 'Arvo';
  font-weight: 300;
}

.bonus-card {
  height: 10px;
  border: 1px solid #C8CBCA;
  border-top: 0;
  background-color: #fff;
}
